/****************  table 每列宽度样式 ****************/
.chtscslh td:nth-child(1), .hpv16 td:nth-child(1){width: 2%; padding: 0 22px;}

.theadFirst th:nth-child(1){width: 13%;}
.theadFirst th:nth-child(2){width: 17%;}
.theadFirst th:nth-child(3){width: 20%;}